*{
    padding: 0;
    margin: 0;
}
body{
    background-color: pink;
}
.container{
    background-color: white;
    height: 470px;
    width: 270px;
    margin-left: 550px;
    margin-top: 60px;
    border:1px solid black;
    border-radius: 10px;
    box-shadow:0 0 10px black;
}
input{
    margin-left: 20px;
    height: 40px;
    width: 240px;
    text-align: end;
    font-size: xx-large;
    margin-top: 7px;
    box-shadow:0 0 10px black;
}
.box1{
    margin-left: 30px;
    margin-top: 30px;
}
.box2{
    margin-left: 30px;
    margin-top: 10px;
}
.box3{
    margin-left: 30px;
    margin-top: 10px;
}
.box4{
    margin-left: 30px;
    margin-top: 10px;
}
.box5{
    margin-left: 30px;
    margin-top: 10px;
}
.b1{
    height: 60px;
    border-radius: 50%;
    width: 50px;
    box-shadow:0 0 10px black;
}
.b2{
    height: 60px;
    border-radius: 50%;
    width: 50px;
    box-shadow:0 0 10px black;
}
.b3{
    height: 60px;
    border-radius: 50%;
    width: 50px;
    box-shadow:0 0 10px black;
}
.b4{
    height: 60px;
    border-radius: 50%;
    width: 50px;
    box-shadow:0 0 10px black;
}
.b5{
    height: 60px;
    border-radius: 50%;
    width: 50px;
    box-shadow:0 0 10px black;
}.b6{
    height: 60px;
    border-radius: 50%;
    width: 50px;
    box-shadow:0 0 10px black;
}
.b7{
    height: 60px;
    border-radius: 50%;
    width: 50px;
    box-shadow:0 0 10px black;
}
.b8{
    height: 60px;
    border-radius: 50%;
    width: 50px;
    box-shadow:0 0 10px black;
}
.b9{
    height: 60px;
    border-radius: 50%;
    width: 50px;
    box-shadow:0 0 10px black;
}
.b10{
    height: 60px;
    border-radius: 50%;
    width: 50px;
    box-shadow:0 0 10px black;
}
.b11{
    height: 60px;
    border-radius: 50%;
    width: 50px;
    box-shadow:0 0 10px black;
}
.b12{
    height: 60px;
    border-radius: 50%;
    width: 50px;
    box-shadow:0 0 10px black;
}
.b13{
    height: 60px;
    border-radius: 50%;
    width: 50px;
    box-shadow:0 0 10px black;
}
.b14{
    height: 60px;
    border-radius: 50%;
    width: 50px;
    box-shadow:0 0 10px black;
}
.b15{
    height: 60px;
    border-radius: 50%;
    width: 50px;
    box-shadow:0 0 10px black;
}
.b16{
    height: 60px;
    border-radius: 50%;
    width: 50px;
    box-shadow:0 0 10px black;
}
.b17{
    height: 60px;
    border-radius: 50%;
    width: 50px;
    box-shadow:0 0 10px black;
}
.b18{
    height: 60px;
    border-radius: 50%;
    width: 50px;
    box-shadow:0 0 10px black;
}
.b19{
    height: 60px;
    border-radius: 50%;
    width: 50px;
    box-shadow:0 0 10px black;
}
.b20{
    height: 60px;
    border-radius: 50%;
    width: 50px;
    box-shadow:0 0 10px black;
}
button:hover{
    background-color: gainsboro;
}
button{
    font-weight: 700;
    font-size: larger;
}